## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ={{cookiecutter.timezone}}
# PYTHONDONTWRITEBYTECODE=1


## -- API configs -- ##
{{cookiecutter.env_prefix}}API_PORT=8000
# {{cookiecutter.env_prefix}}API_CONFIGS_DIR="/etc/{{cookiecutter.project_slug}}"
# {{cookiecutter.env_prefix}}API_LOGS_DIR="/var/log/{{cookiecutter.project_slug}}"
# {{cookiecutter.env_prefix}}API_DATA_DIR="/var/lib/{{cookiecutter.project_slug}}"
# {{cookiecutter.env_prefix}}API_TMP_DIR="/tmp/{{cookiecutter.project_slug}}"
# {{cookiecutter.env_prefix}}API_VERSION="1"
# {{cookiecutter.env_prefix}}API_PREFIX="/api/v{api_version}"
# {{cookiecutter.env_prefix}}API_DOCS_ENABLED=true
# {{cookiecutter.env_prefix}}API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# {{cookiecutter.env_prefix}}API_DOCS_DOCS_URL="{api_prefix}/docs"
# {{cookiecutter.env_prefix}}API_DOCS_REDOC_URL="{api_prefix}/redoc"
